body {
    background-color: #0F2331;
}

.App {
    background-color: #0F2331;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    max-width: 100%;
    box-sizing: border-box;
}

.content-section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 5px;
    gap: 5px;
    box-sizing: border-box;
}

.left-section, .right-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.app-block {
    background-color: #172E3E;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #091a25;
}

.app-block.one {
    min-height: 250px;
}

.app-block.two {
    min-height: 250px;
}

.app-block.three {
    min-height: 500px;
}

.app-block.four {
    min-height: 350px;
}

.app-block.five {
    min-height: 200px;
}
