
.accordion {
    width: 100%;
    margin: auto;
    user-select: none;
}

.accordion-item {
    position: relative;
}

.accordion-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    background-color: #172E3E;
    font-weight: 600;
    padding: 5px;
}

.header-options {
    position: absolute;
    right: 5px;
    top: 0px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.precission-buttons {
    outline: none;
    border: none;
    color: #FFFFFF;
    background-color: #172E3E;
}

.title-span {
    margin-left: 4px;
    font-weight: 400;
}

.accordion-title:hover {
    background-color: #172E3E;
}

.accordion-content {
    background-color: #172E3E;
    overflow: hidden;
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
}

.accordion-content[aria-expanded="true"] {
    max-height: 0px;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    padding-top: 0;
    padding-bottom: 0;
}